/* GLOBAL */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;700&display=swap&family=Oswald:wght@400;700&family=Roboto:ital,wght@0,400;1,700&display=swap&family=Saira+Condensed:wght@100;500;700&family=Saira:wght@100;400&display=swap");
@import "_animation.scss";
/* https://flatuicolors.com/palette/es */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira Condensed", sans-serif;
}
/* HEADER */
header{
    position: relative;
    background-color: #00a8ff;
    height: 100vh;
}
header > *{
    position: absolute;
}
header .welcome{
    top: 10%;
    left: 5%;
    right: 5%;
}
header div{
    color: #f5f6fa;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
header p{
    font-size: 40px;
}
header h1{
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}
header h2{
    font-size: 20px;
    font-weight: 400;
}
header button{
    font-weight: 100;
    margin-top: 10%;
    padding: 3% 15%;
    border: 1px solid #f5f6fa;
    color: #f5f6fa;
    background: transparent;
    border-radius: 2%; 
}
header img{
    height: 50%;
    bottom: 0;
    right: 0;
}
section{
    min-height: 100vh;
}
